
/mission.sqm
Src/Editor/EditorSDKConfig.txt
Src/Editor/EditorSettings.txt
Src/Scripts/.vs
Src/Scripts/output.cs
Src/host/Tools/ScriptingEditor/output.cs
Src/ReBridge/rebridge_log.txt
Src/private.h
Src/Scripts/vs_studio_project/.vs
Src/Scripts/vs_studio_project/vs_studio_project/bin
Src/Scripts/vs_studio_project/vs_studio_project/obj
Third-party/BuildTools/output.txt
Third-party/Docgen/__pycache__/*
Third-party/Docgen/out**
Third-party/ImageConverter/icon_output/*
musicdef_pathes.txt
Third-party/SoundConfigCreator/soundConfigCreator.au3
ReNode/config.ini
ReNode/visual.ini
ReNode/lib.json
ReNode/comp_guid.json
Src/host/ReNode/compiled/script_list.hpp
Src/host/ReNode/compiled/*.sqf
ReNode/noapp.log

Third-party/gh_build/__pycache__/**
Third-party/gh_build/TEMP/**

Third-party/SPBuilder/__pycache__/**
Third-party/SPBuilder/build/**

RBuilder/VM/src
RBuilder/VM/addons
RBuilder/VM/preload/**
RBuilder/VM/preload/**
RBuilder/VM/@server/Addons/**
RBuilder/VM/mpmissions/loader.vr.pbo
RBuilder/mdl_loader/CfgVehicles.hpp
RBuilder/VM/@server/db/GameMain.db
RBuilder/VM/@server/ReEngineLogs/log.txt
RBuilder/VM/profile/**
RBuilder/VM/cmp.exe
RBuilder/platform_path.cache
RBuilder/bin/**