name: Local Tests

on:
  push:

env:
  rb_dir: ${{github.workspace}}/RBuilder/
  rb_exe: ${{github.workspace}}/RBuilder/rb.exe
  rb_args_init: -init build -l

jobs:
  rvengine-build:
    name: Build RVEngine
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        build_type: [Debug, Release]
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
      
      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v1.14
        with:
          cmake-version: '3.22.x'
      
      - name: Generate Visual Studio Project
        working-directory: ${{github.workspace}}/Src/RVEngine
        run: |
          if (-not (Test-Path "vcproj64")) {
            New-Item -ItemType Directory -Path "vcproj64"
          }
          cd vcproj64
          cmake .. -G "Visual Studio 17 2022" -A x64
      
      - name: Build RVEngine
        working-directory: ${{github.workspace}}/Src/RVEngine/vcproj64
        run: |
          msbuild Intercept.sln /p:Configuration=${{ matrix.build_type }} /p:Platform=x64 /m /v:minimal
      
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rvengine-${{ matrix.build_type }}-${{ github.sha }}
          path: |
            Src/RVEngine/vcproj64/build/${{ matrix.build_type }}/*.dll
            Src/RVEngine/vcproj64/build/${{ matrix.build_type }}/*.pdb
            Src/RVEngine/vcproj64/build/${{ matrix.build_type }}/plugins/*.dll
          retention-days: 7

  build:
    name: Test
    runs-on: windows-latest
    # define LOCAL_BUILD in you repo to enable local build
    # or
    # define LOCAL_BUILD_BRANCHES in you repo to enable local build for specific branches
    if: |
      (github.repository_owner != 'Relicta-Team' && vars.LOCAL_BUILD != '') 
      || 
      (vars.LOCAL_BUILD_BRANCHES != '' && contains(fromJSON(vars.LOCAL_BUILD_BRANCHES), github.ref_name))
    strategy:
      fail-fast: true
      matrix:
          flags:
            - -d TEST_ALL -d DEBUG
            - -d TEST_ALL -d RELEASE
    steps:
      - name: Setup msvc+directx
        run: |
          choco install directx
          choco install vcredist2010
          choco install vcredist2012
      
      - uses: actions/checkout@v3
      - name: Init
        working-directory: ${{env.rb_dir}}
        run: ${{env.rb_exe}} ${{env.rb_args_init}}

      - name: Run
        id: rb_run
        working-directory: ${{env.rb_dir}}
        run: ${{ env.rb_exe }} run ${{ matrix.flags }}

      - name: Export Detailed Event Logs
        if: failure()
        run: |
          echo "Exporting detailed Windows event logs..."
          Get-WinEvent -LogName Application -MaxEvents 100 | ForEach-Object {
            $_ | Select-Object TimeCreated, Id, LevelDisplayName, Message | Format-List | Out-File -Append -FilePath detailed_event_logs.txt
          }
          
          Get-WinEvent -LogName System -MaxEvents 100 | ForEach-Object {
            $_ | Select-Object TimeCreated, Id, LevelDisplayName, Message | Format-List | Out-File -Append -FilePath detailed_event_logs.txt
          }

      - name: Upload Detailed Event Logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: error-logs ${{ matrix.flags }}
          path: |
            detailed_event_logs.txt
            ${{ env.rb_dir }}VM/profile/
